<html>
    <head>
        <title>Instructor</title>
    </head>

    <body>
        <h1>Registro para el Instructor del SITEC</h1>
                <form action=""  method="post">
                    <!--Creacion de Cajas de Texto -->
                    <div class="datos">
                        <br><input type="text" id="especialidad" name="Especialidad" 
                                   size="20" maxlength="30" placeholder="Especialidad"
                                   required="required"><br>	
                        <br><input  type="text" id="procedencia" name="Procedencia"
                                    size="20" maxlength="30" placeholder="Procedencia"
                                    required="required"><br>	
                        <br><input type="text" id="tema" name="Tema"
                                   size="20" maxlength="30" placeholder="Tema"
                                   required="required"><br>
                    </div>
                    <!--Creacion de Botones-->
                    <div class="botones">
                        <br><br><input type="submit" name="enviar" value="Guardar cambios" />
                        <input type="reset" name="limpiar" value="Borrar los datos introducidos" />	
                    </div>
                </form>	

                </body>

                </html>