<html>
    <head>
        <title>Eventos Tipos Usuarios</title>
    </head>

    <body>
        <h1>Registros de tipos usuarios</h1>
        <form action=""  method="post">
            <!--Creacion de Cajas de Texto -->
            <div class="datos-tema">
                <br><input type="text" id="id-tipo" name="Id-tipo" 
                           size="20" maxlength="30" placeholder="Id_Tipo" 
                           required="required"><br>		
                <br><input type="text" id="tipo" name="Tipo"
                           size="20" maxlength="30" placeholder="Tipo"
                           required="required"><br>
            </div>
            <!--Creacion de Botones-->
            <div class="botones">
                <br><br><input type="submit" name="enviar" value="Aceptar" />
                <input type="submit" name="salir" value="Cancelar" />	
            </div>
        </form>	

    </body>

</html>