<html>
    <head>
        <title>Temas</title>
    </head>
        <body>
            <h1>Registro del Tema</h1>
        <form action=""  method="post">
            <!--Creacion de Cajas de Texto -->
            <div class="datos-tema">
                <br><input type="text" id="id-tema" name="id-tema" 
                           size="20" maxlength="30" placeholder="id_Tema" 
                           required="required"><br>	
                <br><input  type="number" id="costo" name="Costo"
                            size="20" maxlength="30" placeholder="Costo"
                            required="required"><br>	
                <br><input type="text" id="nombre" name="Tema"
                           size="20" maxlength="30" placeholder="Nombre"
                           required="required"><br>
            </div>
            <!--Creacion de Botones-->
            <div class="botones">
                <br><br><input type="submit" name="enviar" value="Finalizar" />
                <input type="reset" name="limpiar" value="Otro Tema" />	
                <input type="submit" name="salir" value="Cancelar" />	
            </div>
        </form>	

    </body>

</html>