<html>
    <head>
        <title>Asistentes</title>
    </head>

    <body>
        <h1>Registro de Asistentes para el Evento</h1>
        <form action=""  method="post">
            <!--Creacion de Cajas de Texto -->
            <div class="datos">
                <br><input type="text" id="IdAsitente" name="IdAsistente" 
                           size="20" maxlength="30" placeholder="ID"
                           required="required"><br>	
                <br><input  type="text" id="Especialidad" name="Especialidad"
                            size="20" maxlength="30" placeholder="Especialidad"
                            required="required"><br>	
                <br><input type="number" id="Cuota" name="Cuota"
                           size="3" maxlength="3" placeholder="Cuota"
                           required="required"><br>
            </div>
            <!--Creacion de Botones-->
            <div class="botones">
                <br><br><input type="submit" name="enviar" value="Guardar cambios" />
                <input type="reset" name="limpiar" value="Borrar los datos introducidos" />	
            </div>
        </form>	

    </body>

</html>